<h2>Записаться</h2>

<form action="/visits" method="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" class="form-control" name="user_name" placeholder="введите Ваше имя">
  </div>
  
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>